body{
    margin: 0;
    background-color: #d2232a;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #58595b;
    color: white;
    margin: 20px;
    border-radius: 10px;
    border: solid 3px black;
}
header h1{
    font-size: 30px;
    -webkit-text-fill-color: #FFCC00;
    -webkit-text-stroke: 1px #365CA8;
    font-weight: bold;
    font-family: sans-serif;
    
}
header h2 {
    font-size: 25px;
    -webkit-text-fill-color: #FFCC00;
    -webkit-text-stroke: 1px #365CA8;
    font-weight: bold;
    font-family: sans-serif;
}
input {
    margin: 10px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: solid 3px black;
}
input:focus{
    outline: none;
}
/* Permet de supprimer les fleches de l'input sur Firefox */
#wherePage[type=number] {
    -moz-appearance: textfield;
}
/* Permet de supprimer les fleches de l'input sur Chrome */
#wherePage::-webkit-inner-spin-button,
#wherePage::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
#wherePage{
    width: 100px;
    text-align: center;
    font-weight: bolder;
}
main{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #38B000;
    /* color: white; */
    font-weight: bold;
    font-family: sans-serif;
    border: solid 3px black;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: #58595b;
    border: solid 3px black;
    color: white;
}
button:hover{
    cursor: pointer;
}
.pokemonRow{
    display: flex;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}
.pokemonRow div{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemonRow img{
    width: 100px;
    aspect-ratio: 1/1;
}
.pokemonRow:nth-child(odd){
    background-color: #008000;
}
#starFavorite{
    width: auto;
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%); */
}
#favorite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
#prevNext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 1em;
}
.detailsWindows{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
    border: solid 3px #d2232a;
    border-radius: 20px;
}
.detailsWindows img{
    width: 100px;
    aspect-ratio: 1/1;
}
.detailsWindows.active{
    display: block;
}
.cardPokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    max-width: 800px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(80%, 40%);
}
.overlayModalTrigger{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}
.closeModalTrigger{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #d2232a;
    color: #fff;
}
.statsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.leftCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.pokeFace{
    display: flex;
    width: 100px;
    height: auto;
}
.type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.type img{
    width: 30px;
    height: 30px;
}
.dataPokemon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 100px;
}
hr{
    color: black;
    width: 80%;
}
.pokemonAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px;
}
.closeModalTrigger{
    display: flex;
    justify-content: center;
    align-items: center;
}